/* CSS 리셋 */
@import "./reset.css";
/* 가상선택자 */
:root {
  /* font-size */
  --font-size-large: 72px;
  --font-size-medium-large: 36px;
  --font-size-medium: 24px;
  --font-size-small: 18px;
  --font-size-micro: 12px;
  /* font-weight */
  --font-weight-bold: 700;
  --font-weight-semi-bold: 500;
  --font-weight-light: 300;
  /* padding */
  --padding-large: 80px;
  --padding-medium-large: 40px;
  --padding-medium: 24px;
  --padding-small: 14px;
  --padding-micro: 10px;
  /* margin */
  --margin-large: 80px;
  --margin-medium-large: 40px;
  --margin-medium: 24px;
  --margin-small: 14px;
  --margin-micro: 10px;
  /* animation */
  --animation-duration: 300ms;
  /* font-family */
  --font-family-default: "GmarketSansMedium";
}
/* 폰트 */
@font-face {
  font-family: "GmarketSansMedium";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
html {
  font-size: 16px;
}

body {
  position: relative;
}

button {
  outline: none;
  border: none;
  background: none;
  cursor: pointer;
}

.img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.visible {
  display: flex;
}

.invisible {
  display: none;
}

.header_icons {
  color: white;
  padding: 12px 16px;
}

.header_icons:hover {
  color: black;
  background-color: grey;
}

/* 미디어쿼리 993, 600 */
